.card__infos {
  width: 12rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.1rem;
}

.card__img {
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 6rem;
  display: flex;
  align-self: center;
}

.card__title {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}

.card__price {
  display: block;
  border-top: 1px rgba(226, 226, 226, 0.866) solid;
  font-size: 20px;
}

.btn__buy {
  width: 40px;
}
